{% extends "./common/layout.html" %}
{% block body %}
    <div class="index_container">
        <h3 class="center-align">News Recommender</h3>
        <div class="search_box">
            <form action="/search" method='GET'>
                <div class="row">
                    <div class="col s3 profile-box">
                        <div class="col s4"></div>
                        <div class="col s8">
                            <label>Gender<label>
                            <p>
                                <input class="with-gap" name="gender" type="radio" id="man" checked value=0 />
                                <label for="man">Man</label>
                            </p>
                            <p>
                                <input class="with-gap" name="gender" type="radio" id="woman" value=1/>
                                <label for="woman">Woman</label>
                            </p>
                            <label>Age<label>
                            <p>
                                <input class="with-gap" name="age" type="radio" id="age0" value=0 checked />
                                <label for="age0">~20</label>
                            </p>
                            <p>
                                <input class="with-gap" name="age" type="radio" id="age20" value=20 />
                                <label for="age20">20~30</label>
                            </p>
                            <p>
                                <input class="with-gap" name="age" type="radio" id="age30" value=30/>
                                <label for="age30">30~40</label>
                            </p>
                            <p>
                                <input class="with-gap" name="age" type="radio" id="age40" value=40 />
                                <label for="age40">40~50</label>
                            </p>
                            <p>
                                <input class="with-gap" name="age" type="radio" id="age50" value=50/>
                                <label for="age50">50~60</label>
                            </p>
                            <p>
                                <input class="with-gap" name="age" type="radio" id="age60" value=60/>
                                <label for="age60">60~70</label>
                            </p>
                            <p>
                                <input class="with-gap" name="age" type="radio" id="age70" value=70/>
                                <label for="age70">70~</label>
                            </p>
                        </div>
                    </div>
                    <div class="col s9">
                        <div class="row">
                            <div class="col s7">
                                <input type="text" name="q" class="search_input" />
                            </div>
                            <div class="col s5 submit-btn">
                                <input type="submit" value="search" class="center-align waves-effect waves-light btn">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock  %}
