{% extends "./common/layout.html" %}
{% block body %}
    <div class="index_container">
        <h3 class="center-align">News Recommender</h3>
        <div class="search_box">
            <form action="/search" method='GET'>
                <div class="row">
                    <div class="col s8 right-align">
                        <div class="row">
                            <div class="col s4"></div>
                            <div class="col s8">
                                <input type="text" name="q" class="search_input" />
                            </div>
                        </div>
                    </div>
                    <div class="col s4 submit-btn">
                        <input type="submit" value="search" class="center-align waves-effect waves-light btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock  %}
