{% extends "./common/layout.html" %}
{% block body %}
    <div class="index_container">
        <h3 class="center-align">News Recommender</h3>
        <div class="search_box">
            <form action="/search" method='GET'>
                <div class="row">
                    <div class="col s1"></div>
                    <div class="col s2 profile-box">
                        <label>User Name</label>
                        <p>
                            <input id="username" name="username" type="text" class="validate username_box">
                        </p>
                    </div>
                    <div class="col s8">
                        <div class="row">
                            <div class="col s9">
                                <input type="text" name="q" class="search_input" />
                            </div>
                            <div class="col s3 submit-btn">
                                <input type="submit" value="search" class="center-align waves-effect waves-light btn">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock  %}
