.submit-btn{
    margin-top: 7px;
}

.index_container{
    margin-top: 200px;
}

.profile-box{
    margin-top: -60px;
}

.username_box{
    height: 20px !important;
    margin-bottom: 0px !important;
}

