<html>
    <head>
        <title>Ir Project</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel=stylesheet type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static',filename='styles/search.css') }}">
    <head>
    <body>
        <div class="navbar-fixed">
            <nav class="teal lighten-1">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo logo-title">News Recommender</a>
                      <form action"/search" method="GET">
                        <div class="input-field">
                          <input id="search" type="search" required name="q">
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                        </div>
                      </form>
                    </div>
                </div>
            </nav>

        </div>
    
        <div class="container">
          {% block body %}{% endblock %}
        </div>
    </body>
</html>
