<html>
    <head>
        <title>Ir Project</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel=stylesheet type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static',filename='styles/search.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='js/api.js')}}"></script>
    <head>
    <body>
        <div class="navbar-fixed">
            <nav class="teal lighten-1">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo logo-title">News Recommender</a>
                    <div class="input-field">
                      <form action"/search" method="GET">
                          <input type="hidden" name="username" value={{username}}>
                          <input id="search" type="search" required name="q">
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                      </form>
                    </div>
                    <ul class="right hide-on-med-and-down refresh">
                        <li><a href="javascript:void(0)" onclick="window.location.reload()"><i class="material-icons">refresh</i></a></li>
                     </ul>
                </div>
            </nav>

        </div>
    
        <div class="container">
          {% block body %}{% endblock %}
        </div>
    </body>
</html>
